# Amenities & Reviews
**Questions:**
* Do amenities factor into prices?
* Do reviews factor into prices?
* Does property type matter?

## Imports

In [1]:
# Note to self -> Use numpy somewhere
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

## Data Preparation
Step to clean-up the data and prepare for processing

### Creating dataframes

In [2]:
# Importing data into pandas dataframes
listings = pd.read_csv('./listings_sea.csv')
calendar = pd.read_csv('./calendar_sea.csv')
reviews = pd.read_csv('./reviews_sea.csv')

In [3]:
# View a snippet of the data
calendar.head(3)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN

### Other:
* property_type, host_is_superhost

### For reviews
* review_scores_rating, review_scores_accuracy,
* review_scores_cleanliness, review_scores_checkin,
* review_scores_communication, review_scores_location,
* review_scores_value, reviews_per_month, number_of_reviews
* See how this one did mapping: https://jinglescode.github.io/datascience/2019/07/13/airbnb-in-seattle-data-analysis/

### For amenities
* amenities
* https://news.airbnb.com/en-ca/amenities-do-matter-airbnb-reveals-which-amenities-travelers-value-most/
* https://optimizemybnb.com/improve-airbnb-amenities/#Common_Airbnb_Amenities_Consumables

In [52]:
listings['reviews_per_month'].unique()

array([ 4.07,  1.48,  1.15,   nan,  0.89,  2.45,  2.46,  4.73,  1.22,
        1.55,  3.33,  0.98,  0.92,  3.  ,  2.65,  0.73,  4.55,  4.58,
        0.82,  1.  ,  0.71,  0.86,  0.18,  1.3 ,  4.38,  2.47,  0.33,
        1.86,  2.18,  1.31,  0.99,  2.27,  4.35,  0.97,  0.9 ,  0.83,
        1.98,  4.7 ,  0.46,  1.38,  3.35,  1.99,  2.29,  1.06,  0.16,
        0.8 ,  2.  ,  0.64,  5.64,  2.5 ,  4.12,  0.25,  5.24,  7.06,
        4.96,  1.82,  3.94,  1.01,  3.29,  3.07,  1.44,  3.46,  4.43,
        3.85,  0.38,  3.75,  7.84,  2.11,  0.26,  0.3 ,  6.07,  1.75,
        3.64,  0.11,  4.05,  0.62,  6.87,  0.77,  0.09,  3.39,  1.84,
        3.95,  1.89,  1.37,  3.87,  3.38,  0.65,  0.96,  7.53,  5.87,
        1.91,  2.05,  6.23,  3.11,  3.55,  2.22,  1.68,  0.34,  0.2 ,
        4.67,  5.32,  5.79,  0.68,  2.56,  2.61,  7.2 ,  0.22,  1.65,
        0.61,  0.85,  3.96,  2.82,  2.87,  3.86,  1.21,  1.25,  4.28,
        5.15,  2.59,  2.85,  4.29,  4.89,  4.51,  3.4 ,  0.47,  5.22,
        5.02,  1.58, 12.15,  0.95,  4.79,  2.14,  0.28,  3.31,  3.57,
        1.24,  2.7 ,  3.3 ,  5.63,  0.29,  9.14,  1.04,  2.52,  5.92,
        3.15,  4.59,  0.32,  5.  ,  0.03,  0.31,  0.6 ,  2.88,  3.08,
        7.18,  0.54,  0.35,  0.21,  1.41,  3.48,  0.5 ,  2.92,  0.1 ,
        1.93,  5.91,  0.59,  2.67,  1.71,  2.57,  2.41,  3.82,  0.63,
        4.68,  0.53,  2.66,  5.81,  3.45,  1.02,  2.76,  1.7 ,  0.14,
        1.07,  0.37,  1.57,  1.53,  1.67,  0.24,  6.39,  4.19,  1.46,
        4.88,  1.42,  6.82,  4.37,  0.51,  2.78,  3.18,  0.81,  2.86,
        2.3 ,  1.88,  0.67,  2.09,  1.97,  5.71,  3.6 ,  0.87,  1.39,
        0.23,  0.69,  1.49,  1.83,  3.16,  1.35,  0.13,  5.38,  1.79,
        1.85,  1.17,  2.75,  0.94,  0.39,  4.31,  2.38,  3.01,  2.77,
        1.32,  4.06,  0.79,  1.29,  0.27,  2.25,  4.23,  1.73,  1.51,
        0.88,  0.41,  6.57,  0.19,  0.66,  0.36,  0.43,  4.56,  5.27,
        3.98,  3.72,  4.18,  1.76,  1.69,  4.52,  2.16,  1.12,  2.63,
        0.58,  3.43,  0.72,  5.88,  2.74,  0.7 ,  1.54,  1.61,  0.44,
        2.23,  2.64,  0.04,  3.54,  2.89,  0.07,  3.17,  4.26,  7.5 ,
        2.07,  6.1 ,  2.54,  5.98,  1.92,  1.13,  2.34,  1.36,  1.18,
        3.02,  2.48,  1.62,  5.62,  2.51,  2.06,  7.02,  0.12,  4.36,
        4.57,  0.45,  3.25,  1.74,  0.4 ,  7.63,  0.57,  4.39,  1.4 ,
        1.72,  3.91,  4.97,  2.9 ,  1.94,  2.19,  6.43,  1.64,  1.6 ,
        1.1 ,  4.11,  6.22,  1.28,  3.58,  4.63,  0.48,  2.6 ,  5.35,
        2.21,  0.15,  5.08,  2.81,  3.24,  2.04,  4.  ,  1.34,  2.24,
        3.22,  6.9 ,  5.53,  5.42,  5.07,  5.26,  2.69,  2.4 ,  2.94,
        1.5 ,  3.28,  3.56,  0.42,  4.45,  4.74,  3.1 ,  3.88,  3.44,
        0.52,  5.8 ,  3.63,  0.74,  1.23,  2.35,  0.91,  1.11,  6.92,
        3.77,  8.31,  4.27,  7.57,  3.19,  3.62,  0.75,  2.53,  3.7 ,
        2.33,  3.13,  1.14,  7.  ,  0.84,  3.61,  3.83,  2.31,  4.17,
        4.92,  2.17,  8.73,  1.8 ,  2.13,  4.83,  2.62,  9.34,  4.66,
        3.21,  0.78,  2.28,  2.39,  2.42,  2.15,  1.05,  5.68,  1.09,
        3.37,  3.2 ,  1.27,  1.56,  5.04,  3.12,  2.83,  3.41,  1.63,
        2.36,  3.09,  5.41,  5.34,  5.19,  3.03,  3.74,  4.21,  4.46,
        2.95,  4.22,  2.79,  1.26,  8.55,  0.93,  6.35,  4.9 ,  7.75,
        2.99,  0.56,  6.32,  6.  ,  4.4 ,  2.71,  7.78,  2.73, 11.01,
        7.32,  5.43,  4.85,  4.72,  3.81,  1.19,  1.66,  3.52,  0.17,
        4.71,  2.01,  2.68,  5.99,  2.37,  4.24,  1.33,  0.49,  2.08,
        2.8 ,  2.93,  6.16,  4.02,  3.79,  6.59,  0.76,  4.15,  3.53,
        6.94,  4.82,  3.89,  0.55,  1.96,  3.51,  9.47,  1.81,  3.65,
        7.79,  9.08,  1.9 ,  4.34,  1.77,  5.33,  3.42,  6.09,  7.19,
        5.84,  5.82,  4.91,  8.67, 10.12,  3.5 ,  8.05,  8.98,  8.94,
        6.53, 10.  ,  4.44,  2.02,  0.06,  0.08,  0.05,  4.95,  4.16,
        4.32,  6.68,  6.47,  8.17,  5.29,  6.7 ,  4.98,  7.94,  2.2 ,
        6.33,  2.44,  8.95,  4.64,  2.84,  3.68,  1.2 ,  7.61,  3.69,
        3.04,  2.26,  2.43,  4.62,  1.59,  3.78,  5.12,  3.23,  5.28,
        6.37,  4.41,  4.3 ,  3.36,  3.84,  4.04,  4.6 ,  0.02,  1.52,
        4.75,  3.32,  3.27,  4.87,  5.13,  5.61,  7.39,  1.47,  5.83,
        4.53,  2.12,  6.98,  4.14,  4.5 ,  6.93,  6.91,  2.1 ,  6.21,
        4.1 ,  3.92,  1.87,  3.26,  1.16,  4.94,  1.03,  5.9 ,  2.03,
        1.95, 10.95,  2.91,  6.73,  4.8 ,  9.72,  3.14,  9.63,  5.52,
        3.59,  3.99,  7.01,  1.43,  5.85, 10.27,  4.77,  6.65,  2.55,
        5.01,  4.69,  7.74,  6.28,  5.23,  3.05,  1.08,  4.2 ,  7.6 ,
        5.94,  6.04,  5.45,  3.8 ,  2.97,  6.14,  3.49,  4.48,  9.7 ,
        6.86,  6.46,  5.49,  5.2 ,  7.07,  6.15,  6.42,  6.71,  5.57,
        5.7 ,  7.45,  2.98,  7.59,  6.06,  6.02,  7.24,  4.47,  3.66,
        8.09,  2.96,  9.38,  3.47,  5.54,  9.  ,  5.25,  6.83,  3.06,
        2.72,  7.66,  8.38,  6.96,  4.93,  4.54,  5.56,  5.78, 10.61,
        5.55,  5.11,  3.71,  3.34,  1.45,  5.59,  5.1 ,  7.96,  8.18,
        6.12,  6.6 ,  5.96,  5.36,  5.75,  5.76,  5.31,  8.5 ,  4.81,
        2.58,  8.46,  4.01,  5.74,  3.67,  4.08,  5.73,  4.13,  7.15,
        5.44,  8.01,  3.9 ,  5.3 ,  7.72,  6.2 ,  5.95])

In [40]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB